<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加订单</title>
    <link rel="stylesheet" href="../static/css/style.css" type="text/css"/>
</head>
<body>
    <div id="header">
        <h1>小希旅游公司</h1>
    </div>
    <div id="main">
        <div class="option">
            <ul class="list">
                <li>——操作选项——</li>
                <li><a href="/homeU">主页</a></li>
                <li><a href="/selectMU">查询订单</a></li>
                <li><a href="/updateMU">修改订单</a></li>
                <hr>
                <li><a href="/selectPU">查询景点</a></li>
                <li><a href="/addPU">增加景点</a></li>
                <hr>
                <li><a href="/selectTU">查询游客</a></li>
                <li><a href="/addTU">添加游客</a></li>
                <li><a href="/updateTU">更新游客</a></li>
                <li><a href="/deleteTU">删除游客</a></li>
                <hr>
                <li><a href="/selectTeamU">查询旅游团</a></li>
                <li><a href="/addTeamU">增加旅游团</a></li>
                <hr>
                <li><a href="/selectRU">查询路线</a></li>
                <li><a href="/addRU">增加路线</a></li>
                <hr>
                <li><a href="/selectU">查询管理员</a></li>
                <li><a href="/addU">添加管理员</a></li>
                <li><a href="/loginU">重新登录</a></li>
            </ul>
        </div>
        <div class="content">
            <p>开始添加订单信息</p>
            <form action="/addMU1" method="post">
                *订单编号：<input type="number" name="num" th:value="${num}"><br>
                *游客编号：<input type="number" name="tusernum" th:value="${tusernum}"><br>
                *旅游团编号：<input type="number" name="teamnum" th:value="${teamnum}"><br>
                操作：<input type="text" name="manage" th:value="${manage}"><br>
                时间 <input type="text" name="date" th:value="${date}"><br>
                备注：<input type="text"  name="other" th:value="${other}"><br>
                <span id="msg" th:utext="${msg}"></span><br>
                <input type="submit" value="添加">
                <input type="reset" value="重置"><br>
            </form>
        </div>
    </div>
    <div id="footer">
        <div>游的开心，玩的舒心！&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--小希旅游公司</div>
        <address>通讯地址:中关村南大街27号中央民族大学&nbsp;&nbsp;电话:(010)62781733&nbsp;&nbsp;网管信箱:tianye@163.com</address>
    </div>
</body>
</html>